@media screen and (max-width: 767px) {
    #all {
        width: 480px;
        height: auto;
        margin: auto;
    }

    #a {
        width: 480px;
        height: 75px;
        box-sizing: border-box;
        border: black 1px solid;
        line-height: 75px;
        float: left;
    }

    #b {
        width: 480px;
        height: 150px;
        box-sizing: border-box;
        border: black 1px solid;
        line-height: 150px;
        float: left;
    }

    #c, #d {
        width: 480px;
        height: 125px;
        box-sizing: border-box;
        border: black 1px solid;
        line-height: 125px;
        float: left;
    }

    #e, #f, #g, #h {
        width: 240px;
        height: 250px;
        box-sizing: border-box;
        border: black 1px solid;
        line-height: 250px;
        float: left;
    }

    #i {
        width: 480px;
        height: 80px;
        box-sizing: border-box;
        border: black 1px solid;
        line-height: 80px;
        float: left;
    }
}

@media screen and (min-width: 768px) {
    
    #all {
        width: 960px;
        height: auto;
        margin: auto;
    }

    #a {
        width: 960px;
        height: 100px;
        box-sizing: border-box;
        border: black 1px solid;
        line-height: 100px;
    }

    #b {
        width: 200px;
        height: 600px;
        box-sizing: border-box;
        border: black 1px solid;
        float: left;
        line-height: 600px;
    }

    #c, #d {
        width: 380px;
        height: 200px;
        box-sizing: border-box;
        border: black 1px solid;
        float: left;
        line-height: 200px;
    }

    #e, #f, #g, #h {
        width: 190px;
        height: 250px;
        box-sizing: border-box;
        border: black 1px solid;
        float: left;
        line-height: 250px;
    }

    #i {
        width: 760px;
        height: 150px;
        box-sizing: border-box;
        border: black 1px solid;
        float: left;
        line-height: 150px;
    }
}